.buildRecipe {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3rem;
    background-color: var(--recipe-backgound);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 60%;
    font-size: 1.3rem;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

input, textarea {
    width: 10rem;
    height: 2.5rem;
    border: none;
    padding: .5rem;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-left: 1rem;
    background-color: var(--recipe-build-input-background);
}

textarea {
    resize: none;
}

.formPart, .formPartIng {
    margin: 1.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.formPartIng {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.formPartIngOne {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.formPartIngOne div {
    position: relative;
}

.formPartIngOne div button {
    position: absolute;
    top: 0;
    right: 0;
    height: 2.5rem;
    font-size: 2.5rem;
    border: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: var(--recipe-button);
    padding: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.formPartIngOne div button:hover {
    background-color: var(--recipe-button-hover);
}

.ingredients {
    margin-top: 1rem;
    min-width: 100%;
    max-width: 20rem;
    min-height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--recipe-build-input-background);
    padding: .5rem;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.ingredients p {
    margin: 0 .4rem;
}

label, h1 {
    white-space: nowrap;
    font-size: 1.5rem;
}

h1 {
    font-size: 3rem;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.buttons > * {
    font-size: 1.7rem;
    padding: 1rem;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: var(--recipe-button);
    border: none;
    cursor: pointer;
    transition: all .4s;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
    color: #00b7ff;
    margin: 2rem 1rem;
}

.buttons > *:hover {
    background-color: var(--recipe-button-hover);
}