.buildRecipe {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3rem;
    background-color: #000;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 55%;
    font-size: 1.3rem;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

input, textarea {
    width: 10rem;
    height: 2.5rem;
    border: none;
    padding: .5rem;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-left: 1rem;
}

textarea {
    resize: none;
}

.formPart, .formPartIng {
    margin: 1.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.formPartIng {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.formPartIngOne {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.formPartIngOne div {
    position: relative;
}

.formPartIngOne div button {
    position: absolute;
    top: 0;
    right: 0;
    height: 2.5rem;
    font-size: 2.5rem;
    border: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: #181818;
    padding: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}

.formPartIngOne div button:hover {
    background-color: #212121;
}

.ingredients {
    margin-top: 1rem;
    min-width: 100%;
    max-width: 20rem;
    overflow-x: scroll;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff23;
    padding: .2rem;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.ingredients p {
    margin: 0 .4rem;
}

label, h1 {
    white-space: nowrap;
}

hr {
    width: 20rem;
    height: .5px;
    border: none;
    background-color: #ffffff6f;
    margin: auto;
    display: none;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.buttons > * {
    font-size: 1.7rem;
    padding: 1rem;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: #0d0d0d;
    border: none;
    cursor: pointer;
    transition: all .4s;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
    color: #00b7ff;
    margin: 1rem;
}

.buttons > *:hover {
    background-color: #1b1b1b;
}