.recipe {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 3rem;
    background-color: var(--recipe-backgound);
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.recipe > * {
    margin: 2rem;
}

.recipe h1 {
    white-space: nowrap;
    font-size: 3rem;
}

.recipeTime {
    font-size: 2rem;
}

.ingredients {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ingredients p {
    margin-left: 1rem;
    font-size: 1.6rem;
}

.recipeMethod {
    font-size: 1.5rem;
}

.btn button {
    padding: 1rem;
    font-size: 2rem;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: var(--recipe-button);
    border: none;
    cursor: pointer;
    color: #00b7ff;
}

.btn button:hover {
    background-color: var(--recipe-button-hover);
}