.recipe {
    position: relative;
    width: 23rem;
    min-height: 25rem;
    overflow: hidden;
    margin: 3rem;
    background-color: var(--recipe-backgound);
    padding: 1rem;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.recipe h1 {
    white-space: nowrap;
    font-size: 2rem;
}

.recipeTime {
    font-size: 1.4rem;
}

.ingredients {
    font-size: 1rem;
    margin-top: 1rem;
}

.ingredient {
    font-size: 1rem;
}

.recipeMethod {
    font-size: 1.2rem;
    margin-top: 1rem;
}

.recipe button {
    font-size: 1.5rem;
    width: 100%;
    padding: .8rem 0;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: var(--recipe-button);
    color: #00b7ff;
    border: none;
    cursor: pointer;
}

.recipe button:hover {
    background-color: var(--recipe-button-hover);
}