@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;900&display=swap');

:root {
  color-scheme: dark;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html {
  font-size: calc(45% + .8vmin);
  overflow-x: hidden;
  scroll-behavior: smooth;
  user-select: none;
}

body {
  font-family: 'Red Hat Display', sans-serif;
  color: #fff;
}

:any-link {
  text-decoration: none;
  all: unset;
  cursor: pointer;
  color: #00b7ff;
}

body::-webkit-scrollbar {
  width: 1rem;
}

body::-webkit-scrollbar-thumb {
  background-color: #424242;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #565656;
}